@import "./base.css";

body{
  background: linear-gradient(180deg, #0A1D19 0%, #184159 75.54%, #19435D 86.99%);
  color: white;
}

main{
  width: 1366px;
  margin: 0 auto;
}
#monitor{
  display: flex;
  height: 768px;
}
#monitor h2{
  font-size: 20px;
  text-decoration: underline;
}
#monitor p, #monitor div, #monitor button{
  font-size: 13px;
}
#main-monitor{
  flex-grow: 1;
  padding: 42px 70px;
}
#side-monitor{
  padding: 42px 70px;
  width: 300px;
  border-left: 2px solid white;
}

#day-menu{
  margin-top: 40px;
}

#day-menu p{
  margin: 16px 0;
}

.btn-menu{
  display: flex;
  padding: 0px;
  gap: 5px;
}

.day-btn{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.day-btn.selected{
  background-color: #2AF598;
  color: black;
  border-color: transparent
}

#main-graph-legend label{
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

#main-graph-legend .icon{
  width:15px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

#main-graph{
  position: relative;
}
#main-graph .data-tooltip{
  padding: 20px;
  border: 1px solid white;
}